* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3d3d3d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-container {
    width: 87%;
    margin: 0.4em auto 0.1em auto;
    user-select: none;
}

.img-container img {
    max-width: 100%;
    max-height: fit-content;
    border: 2px #262626 solid;
    border-radius: 5px;
}

#opt-hidden {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(67, 184, 67, 0.662);
    overflow: hidden;
}

#opt-hidden p {
    padding: 13px 15px;
    background-color: #ffffff00;
    color: #F5E39B;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
}

#opt-hidden .p-welcome-h {
    background-color: green;
}

#opt-container {
    width: 87%;
    margin: 0 auto;
    display: flex;
    gap: 1.5em;
    background-color: rgba(67, 184, 67, 0.662);
    border: 2px #262626 solid;
    border-radius: 5px;
    align-items: center;
}

#opt-container p {
    color: #F5E39B;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    user-select: none;
    padding: 1.2em 0;
}


.p-rucoy {
    background-color: rgba(51, 146, 51, 0.662);
    font-size: 20px;
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */

}

.p-welcome {
    display: block;
    padding: 0.6em 0;
    background-color: rgb(0, 128, 0);
    font-size: 16px;
    /* Ajuste conforme necessário */
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */
}

.p-char {
    background-color: rgba(51, 146, 51, 0.662);
    font-size: 16px;
    /* Ajuste conforme necessário */
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */
}

.p-news {
    background-color: rgba(51, 146, 51, 0.662);
    font-size: 16px;
    /* Ajuste conforme necessário */
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */
}

.p-highscore {
    background-color: rgba(51, 146, 51, 0.662);
    font-size: 16px;
    /* Ajuste conforme necessário */
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */
}

.p-guilds {
    background-color: rgba(51, 146, 51, 0.662);
    font-size: 16px;
    /* Ajuste conforme necessário */
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */
}

#opt-hidden {
    display: none;
}

#opt-hidden p {
    user-select: none;
}

.player-container {
    display: block;
    background-color: rgba(51, 146, 51, 0.662);
}

.p-marketplace {
    background-color: rgba(51, 146, 51, 0.662);
    font-size: 16px;
    /* Ajuste conforme necessário */
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */
}

#opt-container a {
    background-color: #ffffff00;
}

.p-player::after {
    content: "  ⌵";
}

#opt-container .p-player {
    margin-left: 7em;
    background-color: rgba(51, 146, 51, 0.662);
    font-size: 16px;
    /* Ajuste conforme necessário */
    font-weight: 400;
    text-shadow:
        -1px -1px 0 rgb(0, 55, 0),
        1px -1px 0 rgb(0, 55, 0),
        -1px 1px 0 rgb(0, 55, 0),
        1px 1px 0 rgb(0, 55, 0);
    /* Criando a borda ao redor do texto */
    padding: 0.6em 0;
}

.panel-container {
    margin: 0.4em auto 0 auto;
    display: flex;
    width: 87%;
    justify-content: center;
    background-color: whitesmoke;
    border-top: 2px #262626 solid;
    border-left: 2px #262626 solid;
    border-right: 2px #262626 solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.panel-container .text-panel {
    flex-direction: column;
    background-color: whitesmoke;
}

.panel-container .text-panel h2{
    background-color: whitesmoke;
    font-weight: 500;
    margin: 0.8em 0;
}

.panel-container .text-panel p {
    background-color: whitesmoke;
    font-weight: 300;
    margin: 0.8em 0;
}

.panel-container .text-panel p {
    font-size: 1em;
}

.stores-container {
    width: 87%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-left: 2px #262626 solid;
    border-right: 2px #262626 solid;
}

.stores-container .img-div {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.img-div a {
    text-decoration: none;
    background-color: whitesmoke;
}

.img-div a:visited {
    text-decoration: none;
    color: white;
    background-color: whitesmoke;
}

.gplay {
    height: 5em;
    background-color: whitesmoke;
}

.text-players {
    margin: 0 auto 0 auto;
    width: 87%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-left: 2px #262626 solid;
    border-right: 2px #262626 solid;
}

.text-players p {
    background-color: whitesmoke;
    font-weight: 300;
}

.img-panel {
    width: 87%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-left: 2px #262626 solid;
    border-right: 2px #262626 solid;
    padding: 0.8em 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.img-panel .portrait {
    width: 97%;
    margin: 0 auto;
    background-color: whitesmoke;
    user-select: none;
}

.img-panel .portrait img {
    width: 100%;
}

.footer-sec {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin: 0.8em auto;
}

.p-rucoy::before {
    content: "";
    margin: 0.4em;
}

.footer-sec p {
    font-weight: 400;
    color: whitesmoke;
    font-size: 0.9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: blue;
}

#btn-opt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px #F5E39B solid;
    border-radius: 5px;
    width: 40px;
    height: 35px;
    background-color: #0000002c;
}

#btn-opt h2 {
    width: 25px;
    height: 2px;
    background-color: #F5E39B;
}

@keyframes slideMenuOpen {
    from{
        height: 0px;
    }
    to{
        height: 320px;
    }
}
@keyframes slideMenuClose {
    from{
        height: 320px;
    }
    to{
        height: 0px;
    }
}
.animSlideOpen {
    animation: slideMenuOpen 300ms forwards;
}
.animSlideClose {
    animation: slideMenuClose 300ms forwards;
}

@media (min-width: 2162px) and (max-width: 2560px) {
    #btn-opt{
        display: none;
    }

    .img-container img {
        width: 100%;
    }
    #opt-container {
        gap: 8%;
    }
    .p-rucoy::before {
        content: "";
        margin-left: 1.5em;
    }
}
@media (min-width: 1920px) and (max-width: 2162px) {
    #btn-opt {
        display: none;
    }

    .img-container img {
        width: 100%;
    }
    #opt-container {
        gap: 7%;
    }
    .p-rucoy::before {
        content: "";
        margin-left: 1.5em;
    }
}

@media (min-width: 1720px) and (max-width: 1920px) {
    #btn-opt {
        display: none;
    }

    .img-container img {
        width: 100%;
    }
    #opt-container {
        gap: 6%;
    }
    .p-rucoy::before {
        content: "";
        margin-left: 1.5em;
    }
}

@media (min-width: 1440px) and (max-width: 1720px) {
    #btn-opt {
        display: none;
    }

    .img-container img {
        width: 100%;
    }
    #opt-container {
        gap: 5%;
    }
    .p-rucoy::before {
        content: "";
        margin-left: 1.5em;
    }
}

@media (min-width: 1220px) and (max-width: 1440px) {
    #btn-opt {
        display: none;
    }
    .img-container img {
        width: 100%;
    }
    #opt-container {
        gap: 5%;
    }
    .p-rucoy::before {
        content: "";
        margin-left: 1.5em;
    }
}
@media (min-width: 1100px) and (max-width: 1220px) {
    #btn-opt {
        display: none;
    }
    .img-container img {
        width: 100%;
    }
    #opt-container {
        gap: 2%;
        text-wrap: nowrap;
    }
    .p-rucoy::before {
        content: "";
        margin-left: 1.5em;
    }
}



@media (min-width: 1000px) and (max-width: 1100px) {
    #btn-opt {
        display: none;
    }

    #opt-container {
        gap: 4%;
    }

    .img-container img {
        width: 100%;
    }

    #opt-hidden {
        display: none;
    }

    #opt-container {
        text-wrap: nowrap;
    }

    #opt-container p {
        font-size: 0.8em;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    #btn-opt {
        display: none;
    }

    #opt-container {
        gap: 2%;
    }

    .img-container img {
        width: 100%;
    }

    #opt-hidden {
        display: none;
    }

    #opt-container {
        text-wrap: nowrap;
    }

    #opt-container p {
        font-size: 0.8em;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    #btn-opt {
        display: none;
    }

    #opt-container {
        gap: 1%;
    }

    .img-container img {
        width: 100%;
    }

    #opt-hidden {
        display: none;
    }

    #opt-container {
        text-wrap: nowrap;
    }

    #opt-container p {
        font-size: 0.8em;
    }
}

@media (min-width: 770px) and (max-width: 800px) {
    #btn-opt {
        display: none;
    }

    #opt-container {
        gap: 0.5%;
    }

    .img-container img {
        width: 100%;
    }

    #opt-hidden {
        display: none;
    }

    #opt-container {
        text-wrap: nowrap;
    }

    #opt-container p {
        font-size: 0.8em;
    }
}



@media (max-width: 770px) {
    .img-container {
        width: 100%;
    }

    .p-rucoy::before {
        display: none;
    }

    #opt-hidden {
        display: none;
    }

    #opt-container {
        width: 100%;
        justify-content: space-around;
        gap: 2em;
    }

    #opt-container .p-welcome {
        display: none;
    }

    #opt-container .p-news {
        display: none;
    }

    #opt-container .p-char {
        display: none;
    }

    #opt-container .p-highscore {
        display: none;
    }

    #opt-container .p-guilds {
        display: none;
    }

    #opt-container .p-marketplace {
        display: none;
    }

    #opt-container .p-player {
        display: none;
    }

    .panel-container {
        width: 100%;
    }

    .stores-container {
        width: 100%;
    }

    .text-players {
        width: 100%;
    }

    .img-panel {
        width: 100%;
    }

    .footer-sec {
        width: 95%;
    }


}